# Ignore Python cache
**/__pycache__
**/*.py[cod]

# Ignore db
**/db.sqlite3

# Ignore non-static media
**/media

# Ignore .vscode folder
**/.vscode
.vscode/

# Ignore logs
*.log
*.pot

#ignore secret settings file
secret.json
**/parser_data.json

#Ignore telethon logs
*.session
*.session-journal

# Tg data parser - saved posts
**/tasks/parser_data.json
RomantikApp/code/tasks/parser_data.json
