{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}" type="text/css" />
<style>
    .card-dark.rules-card {
        background-image: url("{% static 'images/about/rules_background.jpg' %}");
    }

    .card-dark.history-card {
        background-image: url("{% static 'images/about/history.jpg' %}");
    }

    .card-dark.hymn-card {
        background-image: url("{% static 'images/about/hymn.jpg' %}");
    }

    .card-dark.contacts-card {
        background-image: url("{% static 'images/about/contacts.jpg' %}");
    }
</style>
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="card-body">
        <h1>Про нас</h1>

        <blockquote>Хто я?</blockquote>
        <small class="quote_author">Володимир Зеленський</small>
        <br>
        <br>
        <h3>Підкатегорії:</h3>

        <div class="row card-inline-scroll-container">
            <div class="card card-dark rules-card">
                <div class="card-body gradient-card">
                    <h5 class="card-title title">Правила турклубу</h5>
                    <div class="card-filler"></div>
                    <a href="/rules" class="btn btn-primary">Дивитись</a>
                </div>
            </div>
            <div class="card card-dark history-card">
                <div class="card-body gradient-card">
                    <h5 class="card-title title">Історія клубу</h5>
                    <div class="card-filler"></div>
                    <a href="/history" class="btn btn-primary">Дивитись</a>
                </div>
            </div>
            <div class="card card-dark hymn-card">
                <div class="card-body gradient-card">
                    <h5 class="card-title title">Гімн</h5>
                    <div class="card-filler"></div>
                    <a href="/hymn" class="btn btn-primary">Дивитись</a>
                </div>
            </div>
            <div class="card card-dark contacts-card">
                <div class="card-body gradient-card">
                    <h5 class="card-title title">Контакти</h5>
                    <div class="card-filler"></div>
                    <a href="/contacts" class="btn btn-primary">Дивитись</a>
                </div>
            </div>
        </div>


        <h4>Хто ми?</h4>

        <p class="justify">«Романтик» — це одеський некомерційний туристичний клуб. </p>

        <img class="half-page right" src="{% static 'images/about/hike_1.jpg' %}" alt="">

        <p class="justify">Ми водимо походи всіх типів та категорій складності, від невеликих подорожей на
            вихідні до тривалих експедицій. Нами підкорені найвищі вершини та перевали Кавказу та Алтаю, пройдені на катамаранах пороги гірських
            річок, а на лижах — величезні плато та плоскогір'я. </p>
        <p class="justify">Заснований у 1963-му році, турклуб пройшов через багато випробувань. «Романтик»
            зазнав значних змін, але ми й досі продовжуємо свої ідеї достідження нового та невідомого, і разом з
            друзями готові відправитись хоч на край землі.</p>

        <img class="half-page left" src="{% static 'images/about/activity_1.jpg' %}" alt="">
        <p class="justify">Наш турклуб регулярно проводить походи, виїзди та спортивні заходи. Також на вас чекатимуть
            лекції та семінари, але не лякайтеся — це не ті нудні, часом нікому не потрібні лекції. Наші лекції
            розраховані на підготовку людей до походів — від польової медицини до організації переправ.
            Проводяться технічні тренування для отримання навичок ходження по схилах, роботи з карабінами та мотузками, та багато іншого.
        </p>
        <p class="justify">Крім походів, ми організовуємо і беремо участь у різноманітних виїздах, змаганнях, зльотах, які спрямовані як
            на підвищення своєї фізичної форми, так і на відпочинок і душевне спілкування.</p>



        <h4 class="justify">Де воно все відбувається?</h4>


        <img class="half-page left" src="{% static 'images/about/club_hall.jpg' %}" alt="">
        <img class="half-page left" src="{% static 'images/about/club_hall_2.jpg' %}" alt="">
        <p class="justify">Нас, зайнятих організацією чого б то не було, можна знайти приблизно в будь-якій точці часу-простору. Але, перш за все,
            у нас є приміщення турклубу, де по вечорам та вихідним майже завжди щось відбувається.</p>

        <p class="justify">
            Знаходиться воно в будівлі Спорткомплексу Політехнічного Університету м. Одеса, за адресою Шампанський провулок, 11.
            Правий вхід у Спорткомплекс, вертаєш ліворуч, сходами на 4-й поверх — і ти на місці, не переплутаєш (сподіваємось)!
        </p>

        <p class="justify">
            Тут збираються походні групи, проводяться семінари, це ж — відправна точка для наших спортивних та
            технічних тренувань. В понеділок тут збирається правління — команда організаторів, яка втілює у життя всі ці заходи і підтримує функціонування турклубу.
        </p>

        <p class="justify">
            Вхід вільний, тож якщо хочете подивитись своїми очами — ви знаєте, де нас шукати)
        </p>

        <h4 class="justify">Що саме і коли проходить?</h4>

        <!-- 
        
        <img class="half-page" src="{% static 'images/about/club_hall_2.jpg' %}" alt=""> -->

        <p class="justify">Є декілька активностей, які проводяться у турклубі щотижня. Долучитися може кожен, всі 
            заняття безкоштовні. Підписуйтесь на наш <a href="https://t.me/tk_romantik">Телеграм-канал</a>, щоб бути в курсі останніх подій та актуальних заходів.</p>
        <ul>
            <li>
                Бігове тренування
            </li>
        </ul>
        <img class="half-page left" src="{% static 'images/about/running.jpg' %}" alt="">
        <p class="justify">
            Час проведення: Вт, Чт з 18:15 по 20:30
        </p>
        <p class="justify">Тренування з загальної фізичної підготовки. Люди збираються, щоб побігати узбережжям або в парку, розім'ятись та потім лампово 
            посидіти в турклубі поспілкуватись за кружечкою чаю. 
        </p>
        <p class="justify">Тренування як підтримує загальний фізичний стан, так і допомагає згуртувати колектив, тут же часто можна знайти однодумців і 
            нових приятелів, і згодом піти з ними в похід. Серйозної фізичної підготовки для тренування не треба — серед нас не всі прямо спортсмени)
            Можете просто прийти до часу — і хтозна, може, це покладе початок вашої нової цікавої історії.
        </p>
        <p>Для зв'язку — <a href="https://t.me/ProfessorEger">@ProfessorEger</a>, Єгор</p>
        <ul>
            <li>
                Заняття з ТГТ (техніки гірського туризму)
            </li>
        </ul>
        <img class="half-page left" src="{% static 'images/about/tht.jpg' %}" alt="">
        <p class="justify">
            Час проведення: Пт з 16:30 по 20:30
        </p>
        <p class="justify">
            Хочеш бути на висоті або просто весело позависати з друзями? Тоді заняття з ТГТ — це те, що тобі потрібно!
        </p>
        <p class="justify">
            Техніка гірського туризму — це окремий вид спортивного туризму, який комбінує елементи скелелазання і роботи з гірським спорядженням.
        </p>
        <p class="justify">
            Мотузки, карабіни, наведення переправи через ріки — це все про техніку гірського туризму, або ж ТГТ. Це цікаво і драйвово, то варто спробувати!
        </p>
        <p>Для зв'язку — <a href="https://t.me/gal_timur">@gal_timur</a>, Тимур</p>

        <ul>
            <li>
                Правління
            </li>
        </ul>
        <img class="half-page left" src="{% static 'images/about/meeting.jpg' %}" alt="">
        <p class="justify">
            Час проведення: Пн з 19:00 по 20:30
        </p>
        <p class="justify">
            А ось це вже трохи душно. Правління — це така зустріч організаторів, коли вони вирішують, що робити.
        </p>

        <p class="justify">
            Організація заходів та підтримка життєдіяльності клубу — це все вирішується тут. Якщо вам це цікаво — то ласкаво просимо, але правління це 
            душно і довго, я вас попередив.
        </p>

        <ul>
            <li>
                Лекції та семінари
            </li>
        </ul>
        <img class="half-page left" src="{% static 'images/about/lecture.jpg' %}" alt="">
        <p class="justify">
            Час проведення: зазвичай по Ср з 18:30, але не завжди, то краще слідкувати в <a href="https://t.me/tk_romantik">Телеграм-каналі</a>
        </p>
        <p class="justify">
            Лекції проводяться на найбільш актуальні походні теми — це, наприклад, «Походна медицина», «Психологія групи», специфіка конкретного виду походів тощо.
        </p>

        <p class="justify">
            Вони зазвичай йдуть циклами перед певним походним сезоном. Це те саме місце, де кожен вільний дізнатися життєво важливу для походу інформацію від
            кваліфікованих та досвідчених туристів замість того, щоб пізнати її на власному досвіді.
        </p>
        <ul>
            <li>
                І багато іншого...
            </li>
        </ul>
        <img class="half-page left" src="{% static 'images/about/guitar_evening.jpg' %}" alt="">

        <p class="justify">
            Що вам до вподоби? Гітарний вечір, кіновечір або вечір настільних ігор? Це в нас є!
        </p>
        <p class="justify">
            Всі події є в <a href="https://t.me/tk_romantik">Телеграм-каналі</a>, тож підписуйся і слідкуй за оновленнями. Чекаємо на тебе!
        </p>

    </div>
</div>
{% endblock %}