{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}" type="text/css" />
<style>
    .card-dark.rules-card {
        background-image: url("{% static 'images/about/rules_background.jpg' %}");
    }

    .card-dark.history-card {
        background-image: url("{% static 'images/about/history.jpg' %}");
    }

    .card-dark.hymn-card {
        background-image: url("{% static 'images/about/hymn.jpg' %}");
    }

    .card-dark.contacts-card {
        background-image: url("{% static 'images/about/contacts.jpg' %}");
    }
</style>

<div class="main-container">
    <div class="card-body">
        <h1>Про нас</h1>

        <blockquote>Хто я?</blockquote>
        <small class="quote_author">Володимир Зеленський</small>
        <br>
        <br>
        <h3>Підкатегорії:</h3>

        <div class="row card-inline-scroll-container">
            <div class="card card-dark rules-card">
                <div class="card-body gradient-card">
                    <h5 class="card-title title">Правила турклубу</h5>
                    <div class="card-filler"></div>
                    <a href="/rules" class="btn btn-primary">Дивитись</a>
                </div>
            </div>
            <div class="card card-dark history-card">
                <div class="card-body gradient-card">
                    <h5 class="card-title title">Історія клубу</h5>
                    <div class="card-filler"></div>
                    <a href="/history" class="btn btn-primary">Дивитись</a>
                </div>
            </div>
            <div class="card card-dark hymn-card">
                <div class="card-body gradient-card">
                    <h5 class="card-title title">Гімн</h5>
                    <div class="card-filler"></div>
                    <a href="/hymn" class="btn btn-primary">Дивитись</a>
                </div>
            </div>
            <div class="card card-dark contacts-card">
                <div class="card-body gradient-card">
                    <h5 class="card-title title">Контакти</h5>
                    <div class="card-filler"></div>
                    <a href="/contacts" class="btn btn-primary">Дивитись</a>
                </div>
            </div>
        </div>


        <h3>Про нас</h3>

        <p class="justify">"Романтик" — це одеський некомерційний туристичний клуб. </p>
        <div class="row">
            <div class="col">
                <p class="justify">Ми водимо походи усіх типів та категорій складності, від невеликих подорожей на
                    вихідні до тривалих
                    експедицій. Нами підкорені найвищі вершини Кавказу та Алтаю, пройдені на катамаранах пороги гірських
                    річок,
                    а на лижах — величезні плато та плоскогір'я. </p>
                <p class="justify">Заснований у 1963-му році, турклуб пройшов через багато випробувань. "Романтик"
                    зазнав значних змін, але ми й досі продовжуємо свої ідеї достідження нового та невідомого, і разом з
                    друзями готові відправитись хоч на край землі.</p>
            </div>
            <div class="col">
                <img class="img-about-us" src="{% static 'images/about/ski.jpg' %}" alt="">
            </div>
        </div>

        <p class="justify">Наш турклуб регулярно проводить походи, виїзди та спортивні заходи. Також на вас чекатимуть
            лекції та семінари, але не лякайтеся — це не ті нудні, часом нікому не потрібні лекції. Наші лекції
            розраховані на підготовку людей до походів — від польової медицини до організації переправ.
            Проводяться технічні тренування для отримання навичок ходження по схилах, роботи з карабінами та мотузками, та багато іншого. 
            Крім походів, ми організовуємо і беремо участь у різноманітних виїздах, змаганнях, зльотах, які спрямовані як
            на підвищення своєї фізичної форми, так і на відпочинок і душевне спілкування.</p>

    </div>
</div>





{% endblock %}