{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'libs/modules/cropper/croppie.css'%}" />
<script src="{% static 'libs/modules/cropper/croppie.js'%}"></script>

<link href="{% static 'css/account_editor.css'%}" rel="stylesheet">
<script src="{% static 'js/account_editor.js'%}"></script>

<script>
    function byId(id) {
        // Сокращение для удобства написания кода
        return document.getElementById(id);
    }
    function del_without_replacing() {

        button = $(`<button onclick="delete_avatar()" type="button" class="btn btn-dark"><img class="glyphicon white"
                            src="{% static 'icons/delete.svg' %}"></button>`);

        $("#del_button").append(button);

    }
</script>



<div id="custom-file-input">
    <input type="file" class="file-upload" style="display: none;" name="image" id="uploaded_avatar"
        accept=".jpg, .jpeg, .png">
</div>
<!-- <h2 style="border-top: 1px solid rgb(199, 199, 199);">Профиль</h2> -->

<div class="row avatar-container" style="margin-left: 0px;">
    <!-- style="width: 250px;"> -->
    <div class="img-container">
        <div class="col avatar_col">
            {% if avatar == '' %}
            <img src="{% static 'icons/default_avatar.png' %}" width="250" id="myimg" class="avatar"
                default="Фото не выбрано"></img>
            {% else %}
            <img src="{{avatar.url}}" width="250" id="myimg" class="avatar" default="Фото не выбрано"></img>
            {% endif %}
        </div>
        <div class="col">
            <div class="row avatar_edit">
                <div class="inline-control inline-label-besides-buttons">
                    <label type="button" for="uploaded_avatar" class="btn btn-dark upload-btn"><img
                            class="glyphicon white" src="{% static 'icons/upload.svg' %}">
                    </label>
                </div>
                <div class="inline-control" id="del_button">
                    <!-- Сюда добавляется кнопка удаления -->

                    {% if avatar != '' %}

                    <script>
                        del_without_replacing();
                    </script>
                    {% endif %}

                </div>
                <div class="inline-control" id="publish">
                    <button type="button" class="btn btn-dark" onclick="publish_avatar()"><img class="glyphicon white"
                            src="{% static 'icons/publish.svg' %}"></button>
                </div>
            </div>
        </div>
        <script src="{% static 'js/upload_photo.js' %}"></script>

    </div>
</div>


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col" style="float: left;min-width: 70%;width: 600px;">

            <tr class="row">
                <label for="user_first_name" class="dark">Ім'я</label>
                <input type="text" id="user_first_name" class="form-control bg-dark dark one-word-input-control"
                    name="first_name" placeholder="Ім'я" value="{{user.first_name}}">
            </tr>

            <br>

            <tr class="row">
                <label for="user_last_name" class="dark">Прізвище</label>
                <input type="text" id="user_last_name" class="form-control bg-dark dark one-word-input-control"
                    name="last_name" placeholder="Прізвище" value="{{user.last_name}}">
            </tr>

            <br>

            <tr class="row">
                <label for="exampleFormControlInput1" class="dark">Про себе</label>
                <textarea class="form-control bg-dark dark" name="about" placeholder="Декілька слів про себе"
                    style="height: 100px;">{{ about }}</textarea>
            </tr>

            <br>
            <hr>

            <small>Контактні дані. Ви можете заповнити їх та зробити публічними, щоб учасники клубу змогли вийти з вами
                на зв'язок. </small>

            <br>
            <br>

            <tr class="row">
                <label for="user_email" class="dark">Email</label>
                <input type="text" id="user_email" class="form-control bg-dark dark one-word-input-control" name="email"
                    placeholder="" value="{{email}}">
                <label for="is_email_public" class="dark">Зробити публічним</label>
                <input type="checkbox" {% if is_email_public %}checked="True" {% endif %} value="is_email_public"
                    id="is_email_public" name="is_email_public">
            </tr>

            <br>

            <tr class="row">
                <label for="user_phone" class="dark">Номер телефону</label>
                <input type="text" id="user_phone" class="form-control bg-dark dark one-word-input-control" name="phone"
                    placeholder="" value="{{phone}}">
                <label for="is_phone_public" class="dark">Зробити публічним</label>
                <input type="checkbox" {% if is_phone_public %}checked{% endif %} id="is_phone_public"
                    name="is_phone_public" value="is_phone_public">
            </tr>

            <br>

            <tr class="row">
                <label for="user_tg_username" class="dark">Telegram username</label>
                <input type="text" id="user_tg_username" class="form-control bg-dark dark one-word-input-control"
                    name="telegram" placeholder="" value="{{telegram}}">
                <label for="is_telegram_public" class="dark">Зробити публічним</label>
                <input type="checkbox" {% if is_telegram_public %}checked{% endif %} id="is_telegram_public"
                    name="is_telegram_public" value="is_telegram_public">
            </tr>
        </div>
    </div>

    <br><br>
    <div class='inline-buttons'>
        <a href="/my_account/" class="btn btn-outline-secondary btn-block btn-lg indigo outline"
            style="margin-right: 10px;">Скасувати зміни</a>
        <input type="submit" class="btn btn-secondary btn-block btn-lg indigo" value="Зберегти зміни">
    </div>
</form>

<script>

    function delete_snd() {
        hidden_field = document.createElement("input");
        hidden_field.type = "hidden";
        hidden_field.name = "delete_photo";
        hidden_field.value = "0";
        document.getElementById("myimg").src = "{% static 'icons/default_avatar.png' %}";
        byId('hidden_fields').appendChild(hidden_field);
        del_avatar_button();
    }

    function create_del_button() {

        button = $(`<button onclick="delete_avatar()" type="button" class="btn btn-dark"><img class="glyphicon white"
                            src="{% static 'icons/delete.svg' %}"></button>`);

        $("#del_button").append(button);
    }


    function delete_avatar() {
        document.getElementById("myimg").src = "{% static 'icons/default_avatar.png' %}";
        clearInputFile(document.getElementById("uploaded_avatar"));
        del_avatar_button();
        try {
            uploadCrop.croppie('destroy');
        }
        catch {

        }
        change_avatar("delete");
    }

    function publish_avatar() {
        uploadCrop.croppie('result', {
            type: 'canvas',
            size: 'viewport'
        }).then(function (resp) {
            document.getElementById("myimg").src = resp;

            change_avatar("update", resp);
            uploadCrop.croppie('destroy');
            // popupResult({
            //     src: resp
            // });
        });
    }

    function change_avatar(action, actionData = "") {

        $.ajax({
            url: "/upload_user_avatar/",
            type: 'POST',
            data: {
                'action': action,
                'secondary_data': actionData
            },
            beforeSend: function (xhr, settings) {
                collectCookies(xhr);
            },
            success: function a(json) {
                if (action === "update") {
                    if (json['result'] === "success") {
                        // alert("Аватар успішно оновлено");
                    }

                }
            }
        });
    }
</script>

{% endblock %}