{% extends 'base.html' %}
{% block content %}
{% load static %}
{%csrf_token%}

<script src="{% static 'libs/modules/ckeditor/build/ckeditor.js' %}"></script>
<link href="{% static 'css/news.css'%}" rel="stylesheet">
<link href="{% static 'css/editor.css'%}" rel="stylesheet">
<link href="{% static 'css/full_post.css'%}" rel="stylesheet">

<script src="{% static 'js/full_post.js' %}"></script>
<script src="{% static 'js/news.js' %}"></script>

<div class="beauty-container">

    <div class="posts-container ck-content">

        {{ post.content | safe }}
    </div>

    <div class="post-control-panel">
        <samll class="author">by {{post.user.username}} on
            {{post.datetime | time:"H:i:s" }}, {{post.datetime | date:"d.m.Y" }}</samll>

        <div class="vote-panel">

            {% if user != 'none' %}

            {% if user_downvoted == 'yes' %}
            <button class="btn btn-outline-secondary downvoted left-control" type="button"
                id="downvote_post_{{post_id}}" onclick="vote_post('{{post_id}}', 'downvote')"><img
                    class="mini-icon negative" src="{% static 'icons/down.svg' %}" alt="down"></button>
            {% else %}
            <button class="btn btn-outline-secondary left-control" type="button" id="downvote_post_{{post_id}}"
                onclick="vote_post('{{post_id}}', 'downvote')"><img class="mini-icon negative"
                    src="{% static 'icons/down.svg' %}" alt="down"></button>
            {% endif %}

            <div class="post-raiting-box">
                <p class="post-raiting" id="post_raiting_{{post_id}}">{{ total_raiting }}
                </p>
            </div>
            {% if user_upvoted == 'yes' %}
            <button class="btn btn-outline-secondary upvoted right-control" type="button" id="upvote_post_{{post_id}}"
                onclick="vote_post('{{post_id}}', 'upvote')"><img class="mini-icon negative"
                    src="{% static 'icons/up.svg' %}" alt="up"></button>
            {% else %}
            <button class="btn btn-outline-secondary right-control" type="button" id="upvote_post_{{post_id}}"
                onclick="vote_post('{{post_id}}', 'upvote')"><img class="mini-icon negative"
                    src="{% static 'icons/up.svg' %}" alt="up"></button>
            {% endif %}

            {% else %}
            <button class="btn btn-outline-secondary left-control" type="button" disabled="disabled"><img
                    class="mini-icon negative" src="{% static 'icons/down.svg' %}" alt="down"></button>
            <div class="post-raiting-box">
                <p class="post-raiting" id="post_raiting_{{post_id}}">{{ total_raiting }}
                </p>
            </div>

            <button class="btn btn-outline-secondary right-control" type="button" disabled="disabled"><img
                    class="mini-icon negative" src="{% static 'icons/up.svg' %}" alt="up"></button>
            {% endif %}


        </div>
    </div>
    <div class="comments-section">
        <hr>
        <h3>Коментарі</h3>


        <div class="comment-editor">

            {% if user != 'none' %}

            <div class="inline-panel elements-right">
                <button id="show-editor" class="btn btn-primary" type="button" onclick="show_editor()"><img
                        class="mini-icon negative" src="{% static 'icons/write.svg' %}" alt="plus"> Прокоментувати</button>
            </div>
            <br><br>
            <div class="collapse" id="editor-hidden-box">
                <div class="editor-box">

                    <textarea name="content" id="editor">
                    </textarea>
                    <button class="btn btn-primary" type="button"
                        onclick="default_comment_send()">Опублікувати!</button>

                    <script src="{% static 'js/editor.js' %}"></script>
                    <script>
                        var post_id = "{{post_id}}";

                        ClassicEditor
                            .create(document.querySelector('#editor'), {
                                extraPlugins: [MyCustomUploadAdapterPlugin],
                                toolbar: ['bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'imageUpload', '|', 'undo', 'redo'],
                                // More configuration options.
                                // ...
                            })
                            .then(newEditor => {
                                editor = newEditor;
                            })

                            .catch(error => {
                                console.log(error);
                            });

                    </script>
                </div>
            </div>
            {% endif %}
        </div>
        <br>

        <div class="comments">
            {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.content | safe }}</p>
                <small>by {{ comment.user.username }} on
                    {{post.datetime | time:"H:i:s" }},
                    {{ comment.datetime | date:"d.m.Y" }}</small>
            </div>
            <hr>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}