{% extends 'base.html' %}
{% block content %}
{% load static %}

<link href="{% static 'css/hikes.css'%}" rel="stylesheet">


<script src="https://apis.google.com/js/api.js"></script>
<script src="https://apis.google.com/js/client:plusone.js" type="application/javascript"></script>
<script src="{% static 'js/hikes.js' %}"></script>
<h2>Актуальні походи турклубу</h2>
<p>На цій сторінці ви можете знайти актуальні походи турклубу, які ви можете відвідати. Обирайте похід, набір групи до
    котрого ще відкритий, та просто зв'яжіться з його керівником.</p>
<small>Дані підтягуються автоматично з <a
        href="https://docs.google.com/spreadsheets/d/1IG3-IDP8UX5C_vFEPasYYIe9kUuFY-HpmwhRT4welTM/">Таблиці походів
        турклубу</a></small>

<div class="horisontal-scrollable-container">
    <table class="table table-sm table-dark hk_table">
        <tbody id="hk_body">
            <tr id="hk_properties">
            </tr>

        </tbody>
    </table>
</div>



<div id="hikes_list_container">



</div>


{% endblock %}