{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="main-container">
    {%csrf_token%}

    <div class="card-body">
        <h1>Історія клубу "Романтик"</h1>
        <div class="row">
            <div class="col">
                <p class="justify">Усе почалося 12 березня 1957 року, коли студенти-хіміки ОПІ на чолі з Валерієм Юдіним
                    вирішили сходити в похід уздовж берега моря в бік Чорноморки. Уже тоді серед студентів було багато
                    охочих зайнятися туризмом. Що робити? Вирішили організувати туристську секцію при клубі самостійно.
                </p>
                <p class="justify">У 1958-59 рр. наші туристи почали освоювати свої перші складні гірські райони, такі
                    як Тянь-Шань, і
                    навіть здійснили першопроходження перевалу, який назвали "Перевал одеських політехніків".</p>
            </div>
            <div class="col"><img class="img-contact" src="{% static 'images/history/1.jpg' %}" alt=""></div>
        </div>
        <p class="justify">Спорядження катастрофічно не вистачало, тому проблема безпеки стояла дуже гостро. Через
            високу активність і
            постійне бажання підвищувати складність походів Обласна секція туризму з невдоволенням називала те, чим
            займалася тур. секція, "ультратуризмом", а самих майбутніх романтиків авантюристами. До речі, кажуть, саме
            тоді у звичку учасників увійшло відоме "Ева!", мовляв, "агов ви, авантюристи!".</p>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><img class="img-contact" src="{% static 'images/history/2.jpg' %}" alt=""></div>
                </div>
                <br>
                <div class="row">
                    <div class="col"><img class="img-contact" src="{% static 'images/history/3.jpg' %}" alt=""></div>
                </div>
            </div>
            <div class="col">
                <p class="justify">У 1960 році на державному рівні вийшла заборона на спортивний туризм, проте в 60-64
                    рр. тур. секція "підпільно" продовжувала активну
                    діяльність: були проведені перші зимові збори, скоєно перше сходження на Ельбрус, почалося освоєння
                    Паміру, проведені перші водні походи на саморобних плотах, команда взяла участь у Чемпіонатах СРСР і
                    світу
                    зі спортивного орієнтування. А ще було проведено перший жіночий похід до Криму.
                </p>
                <p class="justify">У 63-му році заборону, що обмежувала розвиток туризму, було знято, а на зміну їй
                    прийшла Постанова "Про подальший розвиток туризму", де наголошувалося на актуальності та
                    необхідності створення в містах і районах клубів туристів. Було затверджено типові положення про
                    міський (районний) туристський клуб. Відповідно до цього, в Одесі було організовано перший міський
                    туристський клуб. Міський клуб робив свої перші кроки, і порівняно із секцією в
                    політехнічному інституті, яка вже мала багатий досвід і була в десятки разів численнішою, виглядав
                    немовлям.</p>
            </div>
        </div>
        <p class="justify">Політехівський актив захвилювався: "Як це так, вони - клуб, а ми - секція?" До того ж, у
            керівництва нової галузі освіти стосовно студентів одразу ж зазвучали начальницькі нотки. Заснування
            туристського клубу в політехнічному інституті, на думку активу, стало негайним завданням. Пробивання та
            оформлення цієї справи було покладено на Валентина Лернера (Кіліченка), Нелю Чубу та Валерія Юдіна. І ось 31
            жовтня 1963 року на світ з'явився він - туристський клуб "Романтик"! </p>

        <div class="row">
            <div class="col"><img class="img-contact" src="{% static 'images/history/4.jpg' %}" alt=""></div>
            <div class="col">
                <p class="justify">Першим питанням, яке хвилювало всіх, стало найменування нового клубу. Незадовго до
                    його створення серед активу розгорнулися дебати з цього приводу. Певна частина схилялася до назви
                    "Едельвейс". Це було пов'язано з тим, що гірська квітка, емблема альпійського горосходження, тоді
                    входила в моду в країні. Вона з'явилася на значках, нарукавних емблемах тощо. У суперечку з цього
                    приводу втрутилася навіть обласна рада з туризму, і обговорення було продовжено. Як свідчить народна
                    чутка, слово "Романтик", начебто, першим вимовив молодий активний студент Валерій Юфа. Це
                    найменування сподобалося, а загальні збори його затвердили.
                </p>
            </div>
        </div>
        <p class="justify">Другим питанням стало обговорення, чи потрібен новому клубу Статут. Вирішили, що
            потрібен. За нього взялася група, що складалася з Євгена Вопілкіна, Віктора Кашенцова, Григорія Рибкіса з
            періодичним долученням до цієї справи Олега Нечаєнка, Лернера, автора цих рядків та інших активістів. Вийшов
            не просто звід правил, а справжня витримка з традицій і поглядів не тільки на туризм, а й на світ загалом.
            Почитати його <a href="/rules/">можна тут</a>.
        </p>
        <div class="row">

            <div class="col">
                <p class="justify">Про власний флот і морські подорожі мріяли давно. Мрія називалася "під червоними
                    вітрилами - навколо світу" (звідси - наша емблема). Але за повної "наявності відсутності" грошей,
                    матеріалів і навичок суднобудування здавалася нездійсненною - усім, окрім кількох найзатятіших,
                    як-от В.Кашенцев, Є.Маркевич, Г.Рибкіс та ін. Після довгих пошуків було знайдено покинутий через
                    непридатність мотобот "Север". Чого коштувало його відновити, знають тільки безпосередні учасники
                    цієї справи, але, тим не менш, за кілька місяців судно, перейменоване на "Еврику", було спущено на
                    воду.
                </p>
            </div>
            <div class="col"><img class="img-contact" src="{% static 'images/history/5.jpg' %}" alt=""></div>
        </div>
        <p class="justify">У серпні 66 р. відбувся перший морський похід до берегів Криму.У серпні 66 р. відбувся перший
            морський похід
            до берегів Криму. Роком пізніше приблизно так само з'явилося друге судно - "Гамбрінус". Морська секція
            здійснювала походи в Керч, Очаків, на о.Березань. На жаль, пізніше судна за різних обставин затонули, і на
            тому історія морського туризму закінчилася. А шкода!
        </p>

        <div class="row">
            <div class="col"><img class="img-contact" src="{% static 'images/history/6.jpg' %}" alt=""></div>
            <div class="col">
                <p class="justify">Варто відзначити і військово-пошукову роботу, яка за своєю значимістю та обсягом
                    довгі роки займала друге після походів місце у житті клубу. Проводились експедиції місцями бойової
                    слави, знаходилися поховання невідомих солдатів. Робота торкнулася великого кола людей. Одні завдяки
                    „Романтику“ знайшли однополчан, інші змогли ще раз побувати на місцях боїв, треті дізналися про долю
                    своїх товаришів. Безіменні герої здобули нарешті ім'я і були поховані по-людськи, а їхні родичі
                    отримали можливість відвідувати могили своїх близьких.
                </p>
            </div>
        </div>
        <p class="justify">Стали безпечнішими і туристичні стежки.
            Востаннє ми "забезпечили роботою" саперів у 1981р., коли 150 мін було знайдено на перевалі Абгезгі, а
            скільки їх було на початку 60-х?</p>
        <p class="justify">60-ті роки вирізняються найбільшою відкритістю, масовістю, безліччю публікацій у місцевій і
            центральній пресі - мабуть, туризм і справді був тоді всім цікавий. В "Одеському Політехніку" "Романтику"
            відводилися цілі смуги. Була радіогазета "Романтик" і навіть існувало кафе "Романтик", тематичні вечори в
            якому завжди збирали масу народу, і не тільки з ОПІ.
        </p>
        <p class="justify">
            У цей час у клубі виникла перша в Одесі секція водного туризму, а в 67-му почала роботу секція
            спелеотуризму. До слова сказати, на той час "романтики" чи не найкраще за всіх у місті знали одеські
            катакомби й успішно співпрацювали з новоствореним загоном старшокласників "Пошук".</p>

    </div>
</div>


{% endblock %}