{% extends 'base.html' %}


{% load static %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" />
<link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet">
{% endblock %}

{% block content %}
<script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
<div class="main-container">
    <div class="card-body">
        <div class="angle-card first-angle-card home-header">
            <div class="default-card angle-card-container">
                <h1>Веб-портал туристичного клубу «Романтик»</h1>
                <h3>Хто ми є і що ми робимо?</h3>
                <p>«Романтик» — це некомерційний туристичний клуб, спільнота людей, об'єднаних жагою досліджувати світ і забиратись на найвищі вершини.</p>
            </div>
        </div>

        <div class="default-card between-two-angle-blocks-card">
            <div class="row">
                <div class="col">
                    <p class="justify">Загорітись ідеєю, зібрати навколо себе однодумців і пройти запланований (або
                        навіть
                        незапланований!) маршрут — це наша доля та наша найвища цінність.
                    </p>
                    <p class="justify">
                        І є безліч мрій і безліч способів їх здійснити. Задертись із льодорубами на найвищу вершину
                        гірського масиву? Ми, вірогідніше за все, це вже зробили, але залюбки повторимо за твоєї участі.
                        Сплавитись карпатською річкою на катамаранах? Ми з тобою, катамаранами забезпечимо. Проїхати
                        пів країни на велосипедах? Ідею ви зрозуміли:)
                    </p>
                </div>
                <div class="col">
                    <img src="{% static 'images/home/all_2021.jpeg' %}" alt="">
                </div>
            </div>
        </div>

        <div class="angle-card home-map">
            <div class="default-card angle-card-container">
                <div class="row">
                    <div class="col">
                        <div id="map"></div>
                        <script src="{% static 'js/home.js' %}"></script>
                    </div>
                    <div class="col after-map-col">
                        <p class="justify">Ми завжді відкриті для тих, чиї очі та серця також палають від
                            авантюризму. Приміщення турклубу знаходиться у Спорткомплексі Політехнічного Інституту у м. Одеса за адресою
                            Шампанський провулок, 11 — ліворуч від входу, сходами на 4-й поверх. Тренування для підготовки до
                            походів проходять по Вт та Чт з 18:15.
                        </p>
                        <p class="justify">
                            Якщо хочеш докладніше дізнатися, хто ми є і як зараз живемо — завітай на сторінку
                            <a href="/about/">«Про нас»</a>.
                        </p>
                        <p class="justify">
                            Підписуйся на наші соціальні мережі, щоб бути в курсі останніх новин турклубу,
                            контактні дані наведені нижче.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="row inline_container centered-row qr-credentials">
        <div class="col block">
            <a class="centered-col" href="https://www.instagram.com/tk.romantik/">
                <img class="size_70 center qr-code" src="{% static 'images/home/instagram_qr.svg' %}" alt="">
            </a>
        </div>
        <div class="col block">
            <a class="centered-col" href="https://t.me/tk_romantik">
                <img class="size_70 center qr-code" src="{% static 'images/home/telegram_qr.svg' %}" alt="">
            </a>
        </div>
        <div class="col block">
            <a class="centered-col" href="https://www.tiktok.com/@tk.romantyk">
                <img class="size_70 center qr-code" src="{% static 'images/home/tiktok_qr.svg' %}" alt="">
            </a>
        </div>
        <div class="col block">
            <a class="centered-col" href="https://www.youtube.com/@tk.romantyk">
                <img class="size_70 center qr-code" src="{% static 'images/home/youtube_qr.svg' %}" alt="">
            </a>
        </div>
    </div>

    <div class="default-card">
        <p>Або ти завжди можеш написати нам в Телеграмі. З питань, як долучитися до клубу, а також взагалі стосовно
            походів та заходів — <a href="https://t.me/fastakovskiy">@fastakovskiy</a>, Михайло.</p>
        <p>З питань спонсорства або співпраці — <a href="https://t.me/minuttertilmidnatt">@minuttertilmidnatt</a>, Віра Колесник.</p>
        <p>Долучайся до нас, буде цікаво!</p>
    </div>
</div>
{% endblock %}