{% extends 'base.html' %}
{% block content %}
{% load static %}
{%csrf_token%}

<script src="{% static 'libs/modules/ckeditor/build/ckeditor.js' %}"></script>
<link href="{% static 'css/news.css'%}" rel="stylesheet">
<link href="{% static 'css/editor.css'%}" rel="stylesheet">

{% if user != 'none' %}
<div class="editor-box">
    <textarea name="content" id="editor">
        </textarea>
    <button class="btn btn-primary" type="button" onclick="default_news_sent()">Save</button>

    <script src="{% static 'js/editor.js' %}"></script>
    <script src="{% static 'js/news.js' %}"></script>

</div>
{% endif %}

<div class="posts-list">

    {% for post in news %}
    <div class="news-content ck-content">
        {{post.content | safe}}
    </div>
    <samll class="author">by {{post.user.username}} on
        {{post.datetime | time:"H:i:s" }}, {{post.datetime | date:"d.m.Y" }}</samll>

    <hr>
    {% endfor %}

</div>


{% endblock %}