{% extends 'base.html' %}
{% block content %}
{% load static %}

<script src="{% static 'libs/modules/ckeditor/build/ckeditor.js' %}"></script>
<link href="{% static 'css/news.css'%}" rel="stylesheet">
<link href="{% static 'css/editor.css'%}" rel="stylesheet">
<script src="{% static 'js/news.js' %}"></script>

{% block csrf_token %}
{% csrf_token %}
{% endblock %}
<div class="beauty-container">
    {% if is_superuser %}
    <div class="inline-panel elements-right">
        <button id="show-editor" class="btn btn-primary" type="button" onclick="show_editor()"><img
                class="mini-icon negative" src="{% static 'icons/write.svg' %}" alt="plus"> Написати пост</button>
    </div>
    <br><br>
    <div class="collapse" id="editor-hidden-box">
        <div class="editor-box">
            <textarea name="content" id="editor">
            </textarea>
            <button class="btn btn-primary" type="button" onclick="default_news_sent()">Опублікувати!</button>

            <script src="{% static 'js/editor.js' %}"></script>
            <script>
                ClassicEditor
                    .create(document.querySelector('#editor'), {
                        extraPlugins: [MyCustomUploadAdapterPlugin],

                        // More configuration options.
                        // ...
                    })
                    .then(newEditor => {
                        editor = newEditor;
                    })

                    .catch(error => {
                        console.log(error);
                    });

            </script>

        </div>
    </div>
    {% endif %}

    <div class="posts-list">

        {% for news_post in news %}
        <div class="news-post" id="post_{{news_post.post_id}}">


            <div class="inline-panel post-author">
                <div class="post-avatar-container">
                    {% if news_post.author_avatar != '' %}
                    <img class="glyphicon big post-avatar" src="{{ news_post.author_avatar }}">
                    {% else %}
                    <img class="glyphicon big post-avatar" src="{% static 'icons/default_avatar.png' %}">
                    {% endif %}
                </div>
                <div class="user-name-container">
                    <div>
                        <p>{{ news_post.author_full_name }}</p>
                    </div>
                    <small><a href='/user/{{ comment.comment_author.username }}'>
                            @{{ news_post.post.user.username }}</a>,
                        {{ news_post.post.datetime | time:"H:i:s" }},
                        {{ news_post.post.datetime | date:"d.m.Y" }} ({{ news_post.beauty_datetime }})</small>
                </div>
            </div>



            <div class="news-content ck-content">
                {{news_post.post.content | safe}}
            </div>
            <div class="post-control-panel">

                <div class="vote-panel">

                    {% if news_post.post.user == user %}
                    <a href='/post/{{news_post.post_id}}/edit' class="link-icon"><img class="icon negative" src="{% static 'icons/edit.svg' %}" alt="edit"></a>
                    {% endif %}


                    <a href='/post/{{news_post.post_id}}' class="link-icon"><img class="icon negative"
                            src="{% static 'icons/comment.svg' %}" alt="down"><p class="comments-number">{{ news_post.comments_number }}</p></a>

                    {% if user != 'none' %}

                    {% if news_post.user_downvoted == 'yes' %}
                    <button class="btn btn-outline-secondary downvoted left-control vote-btn" type="button"
                        id="downvote_post_{{news_post.post_id}}"
                        onclick="vote_post('{{news_post.post_id}}', 'downvote')"><img class="mini-icon negative"
                            src="{% static 'icons/down.svg' %}" alt="down"></button>
                    {% else %}
                    <button class="btn btn-outline-secondary left-control vote-btn" type="button"
                        id="downvote_post_{{news_post.post_id}}"
                        onclick="vote_post('{{news_post.post_id}}', 'downvote')"><img class="mini-icon negative"
                            src="{% static 'icons/down.svg' %}" alt="down"></button>
                    {% endif %}

                    <div class="post-raiting-box">
                        <p class="post-raiting" id="post_raiting_{{news_post.post_id}}">{{ news_post.total_raiting }}
                        </p>
                    </div>
                    {% if news_post.user_upvoted == 'yes' %}
                    <button class="btn btn-outline-secondary upvoted right-control vote-btn" type="button"
                        id="upvote_post_{{news_post.post_id}}"
                        onclick="vote_post('{{news_post.post_id}}', 'upvote')"><img class="mini-icon negative"
                            src="{% static 'icons/up.svg' %}" alt="up"></button>
                    {% else %}
                    <button class="btn btn-outline-secondary right-control vote-btn" type="button"
                        id="upvote_post_{{news_post.post_id}}"
                        onclick="vote_post('{{news_post.post_id}}', 'upvote')"><img class="mini-icon negative"
                            src="{% static 'icons/up.svg' %}" alt="up"></button>
                    {% endif %}

                    {% else %}
                    <button class="btn btn-outline-secondary left-control" type="button" disabled="disabled"><img
                            class="mini-icon negative" src="{% static 'icons/down.svg' %}" alt="down"></button>
                    <div class="post-raiting-box">
                        <p class="post-raiting" id="post_raiting_{{news_post.post_id}}">{{ news_post.total_raiting }}
                        </p>
                    </div>

                    <button class="btn btn-outline-secondary right-control" type="button" disabled="disabled"><img
                            class="mini-icon negative" src="{% static 'icons/up.svg' %}" alt="up"></button>
                    {% endif %}


                </div>
            </div>
            <hr>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}