{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="main-container">
    <h1>404 — цю сторінку не знайдено</h1>
    <div class="row">
        <div class="col">
            <p>Скоріш за все, розробник просто десь накосячив із посиланнями. Можливо, пост було видалено або ви не маєте
                доступу до цієї панелі керування</p>
            <p>Якщо ви вважаєте, що тут точно щось повинно бути — можете звернутись до мене в Тг, <a
                    href="https://t.me/casy7">@casy7</a></p>
        </div>
        <div class="col"><img src="{% static 'images/errors/404.jpg' %}" alt="" style="width: 200px;"></div>
    </div>



</div>





{% endblock %}