{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="main-container">
    <div class="card-body">
        <h1>Правила туристичного клубу «Романтик»</h1>
        <small>Це скорочена версія правил. Повну версію статуту ви можете подивитись <a href="/old_rules_ukr/">тут</a>. Оригінал (російською) ви можете подивитись <a href="/old_rules/">тут (рос.)</a>.</small>
        <br><br>

        <ol>
            <li>
                Турклуб «Романтик» — це спільнота туристів. Організація має демократичну структуру, закликає до поваги
                до кожного її члена.
            </li>
            <li>
                Ми ставимо активний відпочинок перед пасивним.
            </li>
            <li>
                Ми завжди відкриті для нових учасників.
            </li>
            <li>
                Ми робимо на совість — від цього залежить безпека групи.
            </li>
            <li>
                В поході остаточне рішення стосовно будь-якого питання лишається за керівником.
            </li>
            <li>
                В походах трапляються критичні ситуації. Ми намагаємось пройти через це разом.
            </li>
            <li>
                На всіх заходах турклуба діє сухий закон.
            </li>
            <li>Наші девізи:
                <ul>
                    <li>
                        «Нам пішки треба»
                    </li>
                    <li>
                        «Тільки горіти»
                    </li>
                    <li>
                        «Нехай твої вітрила ловлять вітер далеких мандрів»
                    </li>
                    <li>
                        «На туриста всі дивляться. Це нормально. Мабуть»
                    </li>
                    <li>
                        «Хто б і скільки би тебе не годував, завжди дивись у ліс і гори»
                    </li>
                </ul>
            </li>

        </ol>
    </div>
</div>


{% endblock %}