{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="main-container">
    {%csrf_token%}

    <div class="card-body">
        <h1>Правила туристичного клубу "Романтик"</h1>
        <small>Це скорочена версія правил. Оригінал ви можете подивитись <a href="/old_rules/">тут (рос.)</a>.</small>
        <br><br>

        <ol>
            <li>
                Турклуб "Романтик" — це спільнота туристів. Організація має демократичну структуру, закликає до поваги
                до кожного її члена.
            </li>
            <li>
                "Романтик" ставить активний відпочинок перед пасивним.
            </li>
            <li>
                Турклуб завжди відкритий для нових учасників.
            </li>
            <li>
                Роби на совість, якщо вже взявся. В походах від цього залежить безпека групи.
            </li>
            <li>
                Вирушаючи у похід, кожен учасник має прийняти, що остаточне рішення стосовно будь-якого питання на
                маршруті
                лишається за керівником.
            </li>
            <li>
                В походах трапляються критичні ситуації. Навіть це не є приводом випускати агресію на оточуючих.
            </li>
            <li>
                На всіх заходах турклуба діє сухий закон.
            </li>
            <li>Наші девізи:
                <ul>
                    <li>
                        "Нам пішки треба".
                    </li>
                    <li>
                        Тільки горіти.
                    </li>
                    <li>
                        Нехай твої вітрила ловлять вітер далеких мандрів.
                    </li>
                    <li>
                        Бути матрасником - це корисно, бути "психом ненормальним" - це почесно.
                    </li>
                    <li>
                        На туриста всі дивляться. Це нормально. Мабуть.
                    </li>
                </ul>
            </li>

        </ol>
    </div>
</div>


{% endblock %}