label.upload-btn {
    margin-top: 0px;
}

#myimg {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

#avatar_edit {
    position: fixed;
}

.avatar_col {
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inline-buttons {
    float:left;
    display: inline-flex;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inline-control {
    flex-grow: 0;
    width: 50px;
    display: inline-table;
}

.avatar_edit {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.control-btn-container {
    display: inline-flex;
    align-items: center;
}
/* 
.inline-label-besides-buttons {
    margin-right: 20px;
} */

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}