body {
    background-color: #1b1f22;
    margin-top: 54px;

    /* background: linear-gradient(90deg, rgb(128, 75, 59) 0%, rgb(33, 37, 41) 15%, rgb(33, 37, 41) 85%, rgb(125, 64, 41) 100%); */
    background-color: #19191c;


}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 95vh;
    padding-top: 78px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#content {
    /* margin-left: 20em;
    margin-right: 20em; */
    background-color: #212529;
    /* width: 100rem; */
    padding-bottom: 89px;
    border-radius: 4px;
    padding-top: 10px;

}

.main-container {
    padding-top: 49px;
}

.bg-dark {
    background-color: #1c1f22 !important;
}

h1, h2, h3, h4, h5, p, small, a, td, li, pre, span, th, tr {
    color: white;
}

.news-content.ck-content p, .news-content.ck-content h1, .news-content.ck-content h2, .news-content.ck-content h3, .news-content.ck-content h4, .news-content.ck-content h5, .news-content.ck-content small, .news-content.ck-content a {
    word-wrap: break-word;
}

ol li {
    font-size: large;
}

td {
    border: 1px solid white;
}

pre {
    color: rgb(207, 207, 207);
}

h1 {
    font-size: 50px;
    font-family: 'Roboto-Light', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    font-size: 40px;
    font-family: 'Roboto-Light', sans-serif;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 40px;
}

h3 {
    font-size: 30px;
    font-family: 'Roboto-Light', sans-serif;
    padding-left: 15px;
    margin-bottom: 17px;
}

p {
    font-size: 23px;
    font-family: 'Roboto-Light', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

p.right {
    text-align: right;
}

p.left {
    text-align: left;
}

p.justify {
    text-align: justify;
}

a {
    color: white;
}

img {
    max-width: 100%;
}

select {
    max-width: 30rem;
}

footer {
    background-color: #202020;
    margin-top: 40px;
    position: inherit;
    bottom: 0;
    width: 100%;
}

hr {
    background-color: white;
}

code {
    background-color: #181818;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 4px;
}

pre {
    background-color: #595959;
    border: 1px solid aquamarine;
    border-radius: 5px;
}

pre .language-plaintext {
    background-color: transparent;
    color: #fafafa
}

blockquote {
    font-style: italic;
    color: rgb(175, 175, 175);
    border-left: 5px solid white;
    padding-left: 15px;
    margin-bottom: 0px;
}

.navbar_background_image {
    max-height: 60px;
    position: fixed;
    right: 0;
    top: 0;
}

.dropdown-menu {
    background-color: #333;
}

.dropdown-item {
    color: white;
    background-color: #333;
}

.dropdown-divider {
    color: white;
    background-color: white;
}

.navbar-header {
    margin: 0px;
    line-height: 1;
    align-self: center;
    padding-left: 30px;
    padding-right: 30px;
}

.central-nav-panel {
    display: ruby;
}


.big-red-fucking-button {
    background-color: #f4363b;
    border: 1px solid orange;
    border-radius: 0px;
    align-self: center;
    font-size: 20px;
}

.big-red-fucking-button:hover {
    background-color: #f45c36;
    border: 1.3px solid yellow;
}

.red_btn {
    background-color: #f4363b;
    border: 1px solid orange;
}

.red_btn:hover {
    background-color: #ee3000;
    border: 1.3px solid yellow;
}

.col-fixed-size {
    flex-grow: 0;
}

.beauty-container {
    margin: 30px;
}

.block {
    display: block;
}

.mini-icon {
    width: 15px;
}

.negative {
    filter: invert(100%);
}

.inline-panel {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 15px;
}


.elements-right {
    float: right;
}

.horisontal-scrollable-container {
    overflow-x: scroll;
}

.dark {
    background-color: #1c1f22;
    color: white;
}

.dark:active, .dark:focus {
    background-color: #1c1f22;
    color: white;
}

.one-word-input-control {
    width: fit-content;
    font-size: 18px;
    min-width: 50px;
}


@media screen and (max-width: 481px) {
    #content {
        float: left;
    }

}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        background-color: #333;
    }
}

.nav-item i {
    width: 40px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.glyphicon {
    max-width: 30px;
}

.glyphicon.white {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    max-width: 30px;
}

.glyphicon.big {
    max-width: 40px;
}

.base_logo_mini {
    width: 40px;
}

#navbarUserDropdown {
    padding-top: 0px;
    padding-bottom: 0px;
}


.user_credentials {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 7px;
}

.text-center {
    color: white;
}

nav .dropdown-toggle::after {
    display: none;
}

.dropdown-menu.user-menu-dropdown {
    left: -95px;
}

.link-icon {
    align-content: center;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    max-height: 40px;
}

.icon {
    width: 20px;
}

@media only screen and (max-device-width: 480px) {
    p {
        text-align: justify;
    }

    p.right, p.left {
        text-align: justify;
    }

    .navbar-header {
        top: 23px;
        position: absolute;
    }

    .row {
        display: block;
    }

    .navbar_background_image {
        display: none;
    }

    .nav-right-panel {
        flex-direction: row;
        flex-grow: 1;
        float: right;
        justify-content: space-evenly;
    }

    .user_credentials {
        display: none;
    }

    .page-content {
        background-position: inherit;
    }

    .desktop {
        display: none !important;
    }

    .beauty-container {
        margin: 0px;
    }
}