#map {
	height: 400px;
	/* The height is 400 pixels */
	width: 100%;
	/* The width is the width of the web page */
}

.row {
	margin-bottom: 40px;
}

.size_70 {
	width: 70%;
}

.center {
	text-align: center;
	align-self: center;
}

.inline_container {
	display: inline-flex;
	align-content: center;
	width: 100%;
}

.ruby {
	display: ruby;
}

.card-body {
	padding: 0px;
}

#content {
	padding: 0px;
}

.main-container {
	padding-top: 0px;
}

.home-header {
	padding-top: 23px;
}

.default-card {
	padding: 20px;
	padding-bottom: 0px;
}

.dark-background-card {
	min-height: 413px;
	width: 100%;
}

.dark-background-card-second {
	min-height: 544px;
	width: 100%;
}

.second-angle-card {
	padding-top: 85px;
}

.angle-card {
	background: #111;
	position: relative;
	z-index: 1;

	&:before,
	&:after {
		background: inherit;
		content: '';
		display: block;
		height: 50%;
		left: 0;
		position: absolute;
		right: 0;
		z-index: -1;
		-webkit-backface-visibility: hidden;
	}

	&:before {
		top: 0;
		transform: skewY(2deg);
		transform-origin: 100% 0;
	}

	&:after {
		bottom: 0;
		transform: skewY(-2deg);
		transform-origin: 100%;
	}
}

.first-angle-card {
	&:before {
		display: none;
	}
}

.angle-card-container {
	top: -21px;
	position: inherit;
	margin-top: 30px;
	padding-top: 55px;
}

.between-two-angle-blocks-card {
	padding-top: 35px;
}


.home-header {
	position: relative;
	text-align: center;
}

.home-map {
	position: relative;
}

.home-map figcaption {
	top: 47%;
}

@media screen and (max-width: 481px) {
	.dark-background-card {
		min-height: 670px;
		width: 100%;
	}

	.dark-background-card-second {
		display: none;
	}

	.home-map figcaption {
		position: relative;
		transform: none;
		left: initial;
		right: initial;
	}

	.after-map-col {
		padding-top: 28px;
	}

	.size_70 {
		width: 100%;
	}
	

}