p, h1, h2 {
	text-align: initial;
}

h1, h2, h3, p {
	margin: initial;
	padding: initial;
}

small {
	color: wheat;
}

.author {
	color: wheat;
	width: 100%;
	vertical-align: bottom;
	display: inline-grid;
	text-align: left;
	align-content: end;
	align-self: center;
	font-size: 14px;
	display: inline;
}

.news-content.ck-content {
	box-sizing: content-box;
	height: max-content;
	display: flow-root;
	word-wrap: break-word;
}

.vote-panel {
	display: inline-flex;
	align-content: flex-end;
	display: flex;
	align-content: end;
	width: 100%;
	flex-direction: row;
	flex-grow: 1;
	justify-content: flex-end;
}

#show-editor {
	width: 250px;
	float: right;
	align-self: end;

}

.news-content.ck-content {
	width: 100%;
}

.post-raiting {
	font-size: 15px;

	text-align: center;
	vertical-align: middle;
}

.post-raiting-box {
	border: 1px solid gray;
	min-width: 60px;
	height: 40px;
	border-radius: 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}



.downvoted {
	border: 1px solid red;
}

.upvoted {
	border: 1px solid greenyellow;
}

.left-control {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	height: 40px;
	border-right: none;
}

.right-control {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	height: 40px;
	border-left: none;
}

.post-control-panel {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
}

.link-icon {
	text-decoration: none;
	vertical-align: baseline;
}

.comments-number {
	text-decoration: none;
	text-align: center;
	vertical-align: bottom;
	margin-left: 5px;
	font-size: 15px;
}

.post-author {
	display: flex;
	flex-direction: row;
	align-items: center;
}


.post-avatar {
	margin-right: 10px;
}

.image-from-tg-container {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 5;
	align-content: stretch;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	min-width: 400px;
	flex-grow: 1;
}

.image-from-tg {
	flex-shrink: 7000;
	flex-grow: 1;
	width: inherit;
	display: flex;
	flex-basis: 31%;
}

@media only screen and (max-device-width: 480px) {

	.image-from-tg-container {
		width: 94vw;
		min-width: 0px;
	}


}