{% extends 'kaptyorka_base.html' %}
{% load static %}
{% block csrf_token %}
{% csrf_token %}
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'libs/modules/tabs/tabs.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/add_equipment.css' %}" type="text/css" />
{% endblock %}

{% block kaptyorka_content %}
<div>
  <div id="menu2">
    <select id="demo2" multiple="multiple">
      {% for equipment in eq_list %}
      <option value="eq_{{equipment.0}}" data-section="{{equipment.2}}" data-description="{{equipment.3}}">{{equipment.1}}</option>
      {% endfor %}
      <option readonly value="eq_34233" data-section="Загальне" data-description="Folder">Folder</option>
      <option readonly value="eq_34234" data-section="Гірське" data-description="Folder">Folder</option>
      <option readonly value="eq_34235" data-section="Пішохідне" data-description="Folder">Folder</option>
      <option readonly value="eq_34236" data-section="Вело" data-description="Folder">Folder</option>
      <option readonly value="eq_34237" data-section="Водне" data-description="Folder">Folder</option>
      <option readonly value="eq_34238" data-section="Інше" data-description="Folder">Folder</option>
    </select>
    <script>
      let prices = {
        "eq_34233": [0, 0],
        "eq_34234": [0, 0],
        "eq_34235": [0, 0],
        "eq_34236": [0, 0],
        "eq_34237": [0, 0],
        "eq_34238": [0, 0],
        //{% for equipment in eq_list %} 
        "eq_{{equipment.0}}": ["{{equipment.4}}", "{{equipment.5}}"],
        //{% endfor %}
      };

      let cart = [];

    </script>
  </div>

  <div class="card bg-dark">

    <div class="input-group form-group row total-info-block">
      <h4 id="priceField" class="total-info">Амортизація: 0₴</h4>
      <input type="text" id="clientName" placeholder="Ім'я Прізвище" class="form-control dark">
      <input type="text" id="clientPhone" placeholder="Телефон" class="form-control dark">


      <input id="priceHiddenField" type="hidden" value="[]">

      <button class="btn btn-primary" type="button" id="addAccounting">Записати</button>

    </div>
  </div>
</div>
{% endblock %}


{% block page_scripts %}
<script>



  function collapse_folder() {
    if ($(this).parent().parent().hasClass("collapsed")) {
      $(this).parent().parent().removeClass("collapsed");
    }
    else {
      $(this).parent().parent().addClass("collapsed");
    }
  };

  function addCatButton() {
    $(".tree-multiselect div.section").toArray().forEach(addButtonsToFolder);

    function addButtonsToFolder(element) {
      obj_path = getPath(element);
      var title = $(element.firstChild);
      var title_container = $(`<div class="flex-title gray"></div>`);
      title.before(title_container);
      title.on("click", collapse_folder);
      title_container.append(title);
      title_container.append(`
      <div class='item addCat'>
        <a type='button' onclick="deleteFolderMenu('` + obj_path + `')">
          <img class="folder-icon del-folder-icon" src="{% static 'icons/delete_item.svg' %}">
        </a>
        <p class='p-tab'>/</p>
        <a type='button' onclick="createNewFolderMenu('` + obj_path + `')">
          <img class="folder-icon" src="{% static 'icons/new_folder.svg' %}">
        </a>
        <p class='p-tab'>/</p>
        <a type='button' onclick="createNewItemMenu('` + obj_path + `')">
          <img class="add-item-btn" src="{% static 'icons/add_equipment.svg' %}">
        </a>
      </div>`);
    }
  }
  function editItemMenu(itemId) {
    // let itemId = obj.id.replace("_text", "");
    let obj = document.getElementById(itemId + "_text");
    let itemPath = getPath(obj.parentNode);
    createNewItemMenu("");
    $('#addEquipmentHeader').text("Змінити властивості снара в " + itemPath);
    $('#newItemName').val(obj.innerText);
    $('#newItemPrice').val(prices[itemId][0]);
    $('#newItemNumber').val(prices[itemId][1]);
    $('#newItemDesc').val(obj.parentNode.getAttribute("data-description"));
    $('#sendRequestBtn')[0].onclick = null;
    $('#sendRequestBtn')[0].addEventListener("click", function () {
      editEquipment(itemId, itemPath);
    });
  }

  function updateAllItemsInCatalogWithControls() {
    $(".selections .item").toArray().forEach(countPrice);
    function countPrice(line) {
      if (line.className == "item") {
        eqId = line.getAttribute("data-value");
        line.id = eqId + "line";


        // if (exists("#"+ line.id+" label")) {
        line.querySelector("label").id = eqId + "_text";

        line.querySelector("input[type='checkbox']").disabled = false;

        line.querySelector("label").onclick = function () {
          addItemToCart(this.id.replace("_text", ""));
        }
        var price = prices[eqId][0];
        var amount = prices[eqId][1];

        sName = line.querySelector('.section-name');

        $('#' + line.id).append(`<span id="del_` + eqId + `" class='edit-col'><a type="button" onclick=editItemMenu('` + eqId + `')><img class="delete-icon" src="{% static 'icons/edit.svg' %}"></a></span>`);
        $('#' + line.id).append(`<span id="del_` + eqId + `" class='edit-col'><a type="button" onclick=deleteEquipment('` + eqId + `')><img class="delete-icon" src="{% static 'icons/delete_item.svg' %}"></a></span>`);
        $('#' + line.id).append("<span class='number-col'>" + amount + " шт.</span>");
        $('#' + line.id).append("<span class='price-col'>" + price + "₴\t</span>");
      }
    }
  }

  function addItemToCart(itemId) {

  }
</script>
<script src="{% static 'libs/modules/jquery/jquery-ui.min.js' %}"></script>
<script src="{% static 'libs/modules/multiselect/jquery.tree-multiselect.js' %}"></script>
<script src="{% static 'js/add_equipment.js' %}"></script>
<script>
  $("select#categorySelect").treeMultiselect({ maxSelections: 3, enableSelectAll: true, unselectAllText: true });
</script>


<script src="{% static 'libs/modules/tabs/tabs.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/modules/spinner/bootstrap-input-spinner.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/modules/bootstrap-select/js/bootstrap-select.min.js' %}" type="text/javascript"></script>
<script>
  $("input[type='number']").inputSpinner()
</script>

{% endblock %}