{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css" />
<!-- <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" /> -->
{% endblock %}

{% block content %}
<div class="card bg-dark">

    <h1>/dev/null каптьорки</h1>
    <p>Ти знаєш, що робити.</p>
    <div class="row">
        <a class="btn btn-danger big-red-fucking-button" href="/equipment/add_equipment">Інвентарізація </a>
        <a class="btn btn-danger big-red-fucking-button" href="/equipment/rent_accountings_management/">Керування записами</a>
    </div>

    <p>Старий інтерфейс</p>
    <a href="/equipment/new_rent_accounting">
        <button class="btn btn-danger big-red-fucking-button">Виписати спорядження</button>
    </a>

</div>
{% endblock %}